.circle-right {
  opacity: 0;
  position: absolute;
  width: 759px;
  height: 759.97px;
  background-image: url(../assets/images/bg_ellipse_right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 384px;
  right: -360px;
}

@media screen and (min-width: 1920px) {
  .circle-right {
    opacity: 1;
  }
}
