.logo {
  display: flex;
}

.logo__logo {
  width: 140px;
  height: 45.5px;
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  width: 45.1px;
  height: 17.74px;
  object-fit: contain;
  object-position: center;
}

.logo__name {
  font-family: "Aretha", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.5px;
  line-height: 22px;
  color: #54618e;
  align-self: flex-end;
}

.logo__name span {
  color: #cf51ce;
}

.logo__text {
  display: none;
  align-items: center;
  margin-left: 14.8px;
  box-sizing: border-box;
  width: 178px;
  height: 62px;
  padding-left: 19.5px;
  border-left: 0.8px solid rgba(51, 26, 47, 0.5);
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(51, 26, 47, 0.9);
}
