.main-content {
  padding: 0 15px;
}

@media screen and (min-width: 1280px) {
  .main-content {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1610px) {
  .main-content {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0;
  }
}
