.sales {
  margin: 100px auto 69px;
}

.sales__title {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #331a2f;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.sales__title span {
  color: #ea5dbb;
}

.sales__line {
  width: 131px;
  height: 4px;
  background: linear-gradient(264.91deg, #7c4eab 0.73%, #dd51d4 95.85%);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.sales__subtitle {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #331a2f;
  opacity: 0.8;
  text-align: center;
  margin: 21px 0 50px;
}

.sales__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sales__card {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales__square {
  width: 60px;
  height: 60px;
  background-color: #cf51ce;
  box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales__icon {
  width: 38px;
  height: 38px;
  object-fit: contain;
  object-position: center;
}

.sales__header {
  margin: 20px 0 10px;
  text-align: center;
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #331a2f;
}

.sales__text {
  text-align: center;
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #331a2f;
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .sales {
    margin: 120px auto 85px;
  }

  .sales__title {
    width: 400px;
  }

  .sales__line {
    transform: translateX(98px);
  }

  .sales__subtitle {
    margin: 22px 0 80px;
  }

  .sales__cards {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 550px;
    margin: 0 auto;
  }

  .sales__card {
    width: 255px;
    align-items: flex-start;
  }

  .sales__header {
    text-align: left;
  }

  .sales__text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .sales__title {
    width: 626px;
    font-size: 40px;
    line-height: 64px;
  }

  .sales__line {
    width: 218px;
    height: 6px;
    transform: translateX(165px);
  }

  .sales__subtitle {
    width: 683px;
    font-size: 20px;
    line-height: 32px;
    margin: 22px auto 80px;
  }

  .sales__cards {
    width: 570px;
    gap: 60px;
  }

  .sales__header {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .sales__line {
    width: 218px;
    height: 6px;
    transform: translateX(165px);
  }

  .sales__subtitle {
    margin: 24px auto 85px;
  }

  .sales__cards {
    width: 91.25%;
    gap: 0;
    justify-content: space-around;
  }

  .sales__card {
    width: 226px;
  }
}

@media screen and (min-width: 1440px) {
  .sales__title {
    width: 678px;
    font-size: 48px;
  }

  .sales__line {
    width: 261px;
    height: 7px;
    transform: translateX(198px);
  }

  .sales__subtitle {
    margin: 30px auto 85px;
    width: 846px;
    font-size: 25px;
    line-height: 40px;
  }

  .sales__card {
    width: 290px;
  }
}

@media screen and (min-width: 1610px) {
  .sales__cards {
    width: 1529px;
  }
}
